
.match-count-summary-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  

  .match-count-summary-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  

  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: darkgray;
  }
  

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  